.main {
    display: block;
    background-color: white;
    color: black;
    text-align: center;
    height: 140px;
    /* align-content: space-between; */
    display: flex;
    width: 100%;
}

/* .obj {
    white-space: inherit;
     background-color:white;
     height: 90px;
     width: 100%; */


.post {
    width: 100%;
    margin: 0px;
    text-align: right;
}
.post a{
    text-decoration: none;
    /* text-decoration: overline; */
}
.post a:hover{
    border-top: 2px solid orangered;
}

nav {
    width: 100%;
    padding: 35px;
    font-size: 24px;
    color: black;
    display: flex;
}

nav a {
    color: rgb(71, 65, 65);
    margin-left: 8px;
}

nav a:hover {
    color: orangered;
}

.web {
    text-align: center;
    width: 50%;
}
/* .big{
    background-color: rgb(175, 10, 10);
} */
.ryt{
    color: white;
    background-color: orangered;
    height: 35px;
    border-radius: 37px;
    margin-left: 60px;
}
.ryt:hover{
    background-color: black;
}

.get {
    width: 30%;
}

.obj{
    width: 40px;
}
.web a_{
    margin: 2px;
    
}
.sec-main{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/slider/m8-s-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /* width: 100%; */
    margin: 0px;
}
.in-main{
    font-size:65px ;
    text-align: center;
    padding: 1px;
    color: white;
}
.out{
    text-align: center;
    color: white;
    margin-top: -114px;
}
.good{
    width: 100%;
    text-align: center;
    height: 12%;
}
.one{
    background-color: orangered;
    color: white;
    text-align: center;
    height: 60px;
    border-radius: 37px;
    
}
.one:hover{
    background-color: black;
}
.left{
    width: 100%;
    background-color: white;
    display: flex;
    height: 100%;
    /* padding: 4px; */
    margin-top: 50px;
    text-align: center;
}
.gap-1{
    width: 40%;
    padding: 71px;
    text-align: left;
}
.gap-2{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/bg/home_8_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 335px;    
    padding: 0px;
    margin-top: 100px;

}

.focus{
    color:black;
    font-size: 17px;
    border-radius: 30px;
    height: 60px;
    background-color: white;
    margin: 30px;
}
.focus:hover{
         background-color: black;
         color: white;
}
.hello{
    width: 100%;
    background-color: white;
    display: flex;
    height: 100%;
    margin-top: 50px;
    text-align: center;
}
.say{
    background-image:url(https://htmldemo.net/thanos/thanos/assets/img/bg/home_8_2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 335px;    
    padding: 0px;
    margin-left: 8%;
}
.say-1{
    width: 40%;
    padding: 71px;
    text-align: left;
    margin-top: -7%;
}
.zero{
    text-align: left;
    width: 40%;
}
.up{
    width:100%;
    height: 2%;
    background-color: antiquewhite;
}
.up-1{
    width: 95%;
    height: 6px;
    background-color: orangered;
}
.row{
    width:100%;
    height: 2%;
    background-color: antiquewhite;
}
.row-1{
    width: 85%;
    height: 6px;
    background-color: orangered;
}
.low{
    width:100%;
    height: 2%;
    background-color: antiquewhite;
}
.low-1{
    width: 75%;
    height: 6px;
    background-color: orangered;
}
.quee{
    width: 100%;
    display: flex;
    height:420px;
    margin-top: 8%;
    background-color:rgb(3, 3, 59) ;
}
.for-1{
    background: url(https://htmldemo.net/thanos/thanos/assets/img/bg/bg-04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 34%;
    /* background-color: rgb(3, 3, 59);
    border-color: silver; */
   
}
.for-1-overlay{
    z-index: 1;
    background-color: #171d3d;
    opacity: .7;
    height: 100%;
}
/* .for-1:hover{
       border-bottom:orangered ;
} */
.ride{
    color: white;
    padding: 82px;
    /* z-index: 9; */
    opacity: 1;
}
/* .ride:hover{
    : orangered;
} */
.fock{
    color: black;
    background-color: white;
    border-radius: 37px;
    height: 58px;
    width: 9pc;
}
.fock:hover{
    background-color:orangered;
    color: white;
}
.for-2{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/bg/bg-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
}
.for-2-overlay{
    z-index: 1;
    background-color: #171d3d;
    opacity: .7;
    height: 100%;
}
.for-3{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/bg/bg-06.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 33%;
}
.for-3-overlay{
    z-index: 1;
    background-color: #171d3d;
    opacity: .7;
    height: 100%;
}
.ride-1{
    color: white;
    padding: 82px;
}
.ride-2{
    color: white;
    padding: 82px;
}
.fock-1{
    color: black;
    background-color: white;
    border-radius: 37px;
    height: 58px;
    width: 9pc;
}
.fock-1:hover{
    background-color:orangered;
    color: white;
}
.fock-2{
    color: black;
    background-color: white;
    border-radius: 37px;
    height: 58px;
    width: 9pc;
}
.fock-2:hover{
    background-color:orangered;
    color: white;
}
.full{
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 95px;
}
.set-1{
    display: flex;
    width: 100%;
    align-content: space-between;
    margin-top: 55px;
}
.col-1{
    width: 33%;
    display: flex;
}
.col-2{
    width: 33%;
    display:flex
}
.col-3{
    width: 33%;
    display: flex;
}
/* .msg-1{
    width: 16.50%;
} */
/* .msg-2{ */
    /* width: 16.50%; */
    /* text-align: left; */

.on-1{
    width: 64px;
    margin-top: 22px;
    background-color: #171d3d;
    color:white;
    border-radius: 91px;
    height: 54px;
    font-display:inherit ;
}
.on-1:hover{
    background-color: orangered;
}
.on-2{
    text-align: left;
}
.msg-1{
    width: 64px;
    margin-top: 22px;
    background-color: #171d3d;
    color:white;
    border-radius: 91px;
    height: 54px;
    font-display:inherit ;
}
.msg-1:hover{
    background-color: orangered;

}
.msg-2{
    text-align: left;
}
.off-1{
    width: 64px;
    margin-top: 22px;
    background-color: #171d3d;
    color:white;
    border-radius: 91px;
    height: 54px;
    font-display:inherit ;
}
.off-1:hover{
    background-color: orangered;
}
.off-2{
     text-align: left;
}
.set-2{
    display: flex;
    width: 100%;
    align-content: space-between;
    margin-top: 55px;
}
.feb-1{
    display: flex;
}
.next-1{
    width: 64px;
    margin-top: 22px;
    background-color: #171d3d;
    color:white;
    border-radius: 91px;
    height: 54px;
    font-display:inherit ;
}
.next-1:hover{
    background-color: orangered;
}
.next-2{
    text-align: left;
}

.feb-2{
    display: flex;
}
.next-3{
    width: 64px;
    margin-top: 22px;
    background-color: #171d3d;
    color:white;
    border-radius: 91px;
    height: 54px;
    font-display:inherit ;
}
.next-3:hover{
    background-color: orangered;
}
.next-4{
    text-align: left;
}
.feb-3{
    display: flex;
}
.next-5{
    width: 64px;
    margin-top: 22px;
    background-color: #171d3d;
    color:white;
    border-radius: 91px;
    height: 54px;
    font-display:inherit ;
}
.next-5:hover{
    background-color: orangered;
}
.next-6{
    text-align: left;
}
.yet{
    width: 100%;
    display: flex;
    height: 400px;
}
.mob{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/bg/home_8_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
.mob-1{
    width: 50%;
    text-align: left;
    background-color: rgb(247, 245, 245);
    padding: 50px;
}
.kit{
    width: 50%;
    display: flex;
    margin-top: 80px;
}
.box{
    padding: 19px;
    border:2px solid orangered ;
    border-radius: 50px;
    height: 63px;
    width: 63px;
    margin: 25px;
}
.box p{
      margin-top:30px ;
      width: 106px;
}

.box-1{
    padding: 19px;
    border:2px solid orangered ;
    border-radius: 50px;
    height: 63px;
    width: 63px;
    margin: 25px;
}
.box-1 p{
    margin-top:30px ;
    width: 106px;
}
.box-2{
    padding: 19px;
    border:2px solid orangered ;
    border-radius: 50px;
    height: 63px;
    width: 63px;
    margin: 25px;
}
.box-2 p{
    margin-top:30px ;
    width: 106px;
}
.pan{
    width: 100%;
    /* display: flex; */
    text-align: center;
}
.wait{
    display: flex;
    margin-top: 100px;
}
.app{
    width: 33%;
    height: 50%;
    text-align: left;
}
.ill{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/team/team-10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 92%;
    height: 350px;
}
.due{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/team/team-11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 92%;
    height: 350px;
}
.nav{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/team/team-12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 92%;
    height: 350px;
}
.app-1{
    width: 33%;
    height: 50%;
    text-align: left;
}
.app-2{
    width: 33%;
    height: 50%;
    text-align: left;
}
.roww{
    width: 13%;
    background-color: orangered;
    height: 4px;
}
.roww-1{
    width: 13%;
    background-color: orangered;
    height: 4px;
}.roww-2{
    width: 13%;
    background-color: orangered;
    height: 4px;
}
.jar{
    width: 100%;
    height: 290px;
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/bg/bg-11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.jar-1{
    text-align: center;
    width: 50%;
    height: 290px;
}
.type{
    width: 83pc;
    height: 50px;
    text-align: center;
    margin-top: 165px;
}
.type-1{
    width: 50%;
    height: 200px;
    text-align: center;
    margin-left: 480px;
}
.type p{
    margin-top: 100px;
    padding-top: 50px;
    color: white;
}
.type-1 h3{
       margin-top: 30px;   
       color: white; 
}
.type-1 p{
    color: white;
}
.book{
    width: 100%;
    height: 585px;
    display: flex;
    background-color: rgb(248, 247, 247);
    margin-top: 100px;
}
.fav{
    width: 25%;
    height: 451px;
    display: block;
    background-color:white;
    padding: 67px;
    /* border: 2px solid black; */
}
.child{
    display: flex;
}
.ist{
    margin-top: 38px;
}
.read-1 li{
    list-style-type: none;
    padding-bottom: 5px;
    /* align-content: space-between; */
}
/* .ul li{
    align-content: space-between;
} */
.hey{
    background-color: rgb(43, 41, 41);
    width: 100%;
    margin-top: 143px;
    text-align: center;
    height: 29px;
}
.hey:hover{
    background-color: orangered;
}
.hey a{
    color: white;
     font-size: 10px;
     text-decoration: none;

}
.fav-1{
    width: 25%;
    height: 451px;
    display: block;
    background-color:white;
    padding: 67px;
    /* border: 2px solid black; */
}
.child-1{
    display: flex;
}
.job{
    margin-top: 38px;
}
.rod-1 li{
    list-style-type: none;
    padding-bottom: 5px;
    /* align-content: space-between; */
}
/* .ul li{
    align-content: space-between;
} */
.he{
    background-color: rgb(43, 41, 41);
    width: 100%;
    margin-top: 143px;
    text-align: center;
    height: 29px;
}
.he:hover{
    background-color: orangered;
}
.he a{
    color: white;
     font-size: 10px;
     text-decoration: none;

}
.fav-2{
    width: 25%;
    height: 451px;
    display: block;
    background-color:white;
    padding: 67px;
    /* border: 2px solid black; */
}
.show{
    display: flex;
}
.job-1{
    margin-top: 38px;
}
.roll li{
    list-style-type: none;
    padding-bottom: 5px;
    /* align-content: space-between; */
}
/* .ul li{
    align-content: space-between;
} */
.flow{
    background-color: rgb(43, 41, 41);
    width: 100%;
    margin-top: 143px;
    text-align: center;
    height: 29px;
}
.flow:hover{
    background-color: orangered;
}
.flow a{
    color: white;
     font-size: 10px;
     text-decoration: none;

}
.fav-3{
    width: 25%;
    height: 451px;
    display: block;
    background-color:white;
    padding: 67px;
    /* border: 2px solid black; */
}
.show-1{
    display: flex;
}
.job-2{
    margin-top: 38px;
}
.give li{
    list-style-type: none;
    padding-bottom: 5px;
    /* align-content: space-between; */
}
/* .ul li{
    align-content: space-between;
} */
.lie{
    background-color: rgb(43, 41, 41);
    width: 100%;
    margin-top: 143px;
    text-align: center;
    height: 29px;
}
.lie:hover{
    background-color: orangered;
}
.lie a{
    color: white;
     font-size: 10px;
     text-decoration: none;

}
.no{
    width: 100%;
    height: 3px;
    background-color: rgb(224, 219, 219);
}
.no-1{
    width: 100%;
    height: 3px;
    background-color: rgb(224, 219, 219);
}

.no-2{
    width: 100%;
    height: 3px;
    background-color: rgb(224, 219, 219);
}

.no-3{
    width: 100%;
    height: 3px;
    background-color: rgb(224, 219, 219);
}
.mean{
    text-align: center;
    width: 100%;
    height: 800px;
    background-color: rgb(245, 245, 245);
    margin-top: 100px;
    padding-top: 60px;
}
.mean h3{
    margin: 0px;
    padding: 0px;
}
.outer{
    width: 33%;
    height: 568px;
    background-color: white;
    margin:60px;
    border: 2px solid silver;
}
.inner{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/blog/blog-18-370x250.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
    display: table;
    vertical-align: middle;
    position: relative;
    opacity: 1;
    transition: .5s ease;
  backface-visibility: hidden;
  /* display: block; */
  background-color: aliceblue;
  
}
.inner:hover{
    background-color: #ef5619 !important;
}
.arrow{
    width: 18%;
    /* margin: auto; */
    left: 40%;
    height: 78px;
    border: 2px solid white;
    padding: 0px;
    border-radius: 100px;
    /* margin-left: 197px; */
    display: unset;
    /* margin-top: 32px; */
    color: white;
    position: unset;
    position: absolute;
    top: 38%;
    transition: .5s ease-in-out;
  opacity: 0;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ef5619;
}
.arrow i{
    position: relative;
    top: 39%;
    color: white;
}
.inner:hover  {
    opacity: 0.3;
  }
.arrow i:hover{
    opacity: 1;

}
.arrow:hover {
    background-color:orangered;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .inner-1{
    text-align: left;
    padding: 25px;
  }
  .few {
    text-decoration: none;
    color: black;
    
  }
  .few-1 a {
    text-decoration: none;
    color: black;
    
  }
  .few-1{
    display: flex;
  }
  .now{
    text-align: left;
  }
  .outer-1{
    width: 33%;
    height: 568px;
    background-color: white;
    margin:60px;
    border: 2px solid silver;
}
.info{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/blog/blog-10-370x250.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
    display: table;
    vertical-align: middle;
    position: relative;
    opacity: 1;
    transition: .5s ease;
  backface-visibility: hidden;
  /* display: block; */
  background-color: aliceblue;
  
}
.info:hover{
    background-color: #ef5619 !important;
}
.arrow-1{
    width: 18%;
    /* margin: auto; */
    left: 40%;
    height: 78px;
    border: 2px solid white;
    padding: 0px;
    border-radius: 100px;
    /* margin-left: 197px; */
    display: unset;
    /* margin-top: 32px; */
    color: white;
    position: unset;
    position: absolute;
    top: 38%;
    transition: .5s ease-in-out;
  opacity: 0;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ef5619;
}
.arrow-1 i{
    position: relative;
    top: 39%;
    color: white;
}
.info:hover  {
    opacity: 0.3;
  }
.arrow-1 i:hover{
    opacity: 1;

}
.arrow-1:hover {
    background-color:orangered;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .view-1{
    text-align: left;
    /* padding: 25px; */
  }
  .view {
    text-decoration: none;
    color: black;
    text-align: left;
    
  }
  .view-1 a {
    text-decoration: none;
    color: black;
    
  }
  .view-1{
    display: flex;
  }
  .now-1{
    text-align: left;
  }
  .grow{
    display: flex;
  }
  .any{
    text-align: left;
    padding: 30px;
  }

  .outer-2 {
    width: 33%;
    height: 568px;
    background-color: white;
    margin:60px;
    border: 2px solid silver;
}
.info-1 {
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/blog/blog-19-370x250.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
    text-align: center;
    display: table;
    vertical-align: middle;
    position: relative;
    opacity: 1;
    transition: .5s ease;
  backface-visibility: hidden;
  /* display: block; */
  background-color: aliceblue;
  
}
.info-1:hover{
    background-color: #ef5619 !important;
}
.go-1{
    width: 18%;
    /* margin: auto; */
    left: 40%;
    height: 78px;
    border: 2px solid white;
    padding: 0px;
    border-radius: 100px;
    /* margin-left: 197px; */
    display: unset;
    /* margin-top: 32px; */
    color: white;
    position: unset;
    position: absolute;
    top: 38%;
    transition: .5s ease-in-out;
  opacity: 0;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #ef5619;
}
.go-1 i{
    position: relative;
    top: 39%;
    color: white;
}
.info-1:hover  {
    opacity: 0.3;
  }
.go-1 i:hover{
    opacity: 1;

}
.go-1:hover {
    background-color:orangered;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .median-1{
    text-align: left;
    /* padding: 25px; */
    display: flex;
  }
  .median {
    text-decoration: none;
    color: black;
    text-align: left;
    
  }
  .median-1 a {
    text-decoration: none;
    color: black;
    
  }
  .store-1{
    display: flex;
  }
  .how-1{
    text-align: left;
  }
  .grow{
    display: flex;
  }
  .any-1{
    text-align: left;
    padding: 30px;
  }
  .img{
    padding: 30px;
  }
  .plus{
    width: 100%;
    height: 400px;
    background-color: white;
    display: flex;
    /* background-color: aqua; */
    margin-top: 60px;
  }
  .divide{
    display: flex;
    margin-left: 248px;
    width: 1069px;
    height: 317px;
  }
  .divide-1{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/brand/brand-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 8%;
    height: 46px;
    /* background-color: #ef5619; */
    margin: 20px;
    margin-top: 120px;
  }
  .divide-2{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/brand/brand-02.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 6%;
    height: 47px;
    /* background-color: #ef5619; */
    margin: 20px;
    margin-top: 120px;
  }
  .divide-3{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/brand/brand-03.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 8%;
    height: 65px;
    /* background-color: #ef5619;  */
    margin: 20px;
    margin-top: 120px;
  }
  .divide-4{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/brand/brand-04.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 7%;
    height: 91px;
    /* background-color: #ef5619; */
    margin: 20px;
    margin-top: 120px;
  }
  .divide-5{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/brand/brand-05.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 11%;
    height: 81px;
    /* background-color: #ef5619; */
    margin: 20px;
    margin-top: 120px;
  }
  .divide-6{
    background-image: url(https://htmldemo.net/thanos/thanos/assets/img/brand/brand-06.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 7%;
    height: 107px;
    /* background-color: #ef5619; */
    margin: 20px;
    margin-top: 120px;
  }
  /* .divide{
    margin-top: 30px;
    display: flex;
  } */
  .loyal{
    width: 100%;
    height: 400px;
    background-color: black;
    margin-top: 60px;
  }
  .small{
    width: 100%;
    height: 300px;
    background-color: rgb(70, 68, 68);
  }
  .container{
    width: auto;
    /* text-decoration: none; */
    padding: 65px;
  }
  .rooww{
    display: flex;
    /* padding: 63px; */
    width: 100%;

  }
.colu-1{
    margin: 3px;
    text-align: left;
    width: 25%;
    color: white;
}
 .line li{
    list-style-type: none;

}
/* .colu-1{
    text-align: left;
    width: 25%;
    color: white;
} */
.colu-2{
    text-align: left;
    width: 25%;
    color: white;
}
.colu-3{
    text-align: left;
    width: 25%;
    color: white;
}
.saw li{
    list-style-type: none;
}
.colu-4{
    text-align: left;
    width: 25%;
    color: white;
}
.meu li{
    list-style-type: none;
}
.g-shop{
    width: 100%;
    height: 57px;
    text-align: left;
    padding: 0px;
    display: flex;
}
.g-shop li{
      list-style-type: none;
}
.g-shop i{
    padding-right:33px ;
}
.loss{
    width: 100%;
    /* display: flex; */
    color: white;
    margin-top: 74px;
    text-align: center;
}
@media(min-width:320px) and (max-width:786px) {
    nav{
        display: -webkit-inline-box;      
        font-size: 26px;
        width: 94%;
        padding: 0px;
    }
   .post a{
    display: inline;
    /* text-align: left; */
   }
   /* .main b{
    text-align: left;
   } */
.post{
    width: 83px;
}   
.web {
    display: grid;
    text-align: right;
}
.gram{
    width: 40px;
    height: 30px;
    margin-left: 112px;
    font-size: 48px;
}

.gram i{
    width: 27px;
    height: 7px;
}
.ryt{
    width: 108px;
    margin-left: 52px;
    height: 66px;
    font-size: 24px;
}
.sec main{
    height: 200px;
}
.in-main{
     font-size:40px;
     margin-top:0px;
}
.out{
    margin-top: 30px;
}
.main{
    display: inline;
}
.out p{
    font-size: 39px;
}
.one{
    width: 164px;
    height: 67px;
    font-size:26px ;
}
.left{
    display: block;
}
.gap-1{
    width: 100%;
    font-size: 25px;
    /* font-size: 57px; */
    padding: 0px;
}
.focus{
    width: 180px;
    height: 73px;
    font-size: 27px;
    border-radius: 107px;
}
.gap-2{
    width: 100%;
    margin: 0px;
    height: 210px;

}
.hello{
    display: block;
}
.say{
    width: 100%;
    margin: 0px;
    height: 210px;
}
.say-1{
    width: 100%;
    font-size: 30px;
    padding-left: 0px;
}
.quee{
    display: block;
    background-color: white;
    margin-top: 0px;
    width: 100%;
    height: 20%;
}
.for-1{
    width: 100%;
    height: 400px;
}
.for-2{
    width: 100%;
    height: 399px;
}
.for-3{
    width: 100%;
    height: 399px;
}
.ride{
    font-size: 26px;
    padding: 0px;
}
.fock{
    width: 240px;
    height: 44px;
    font-size: 25px;
}
.ride-1{
    font-size: 26px;
    padding: 0px;
}
.fock-1{
    width: 240px;
    height: 44px;
    font-size: 25px;
}
.ride-2{
    font-size: 26px;
    padding: 0px;
}
.fock-2{
    width: 240px;
    height: 44px;
    font-size: 25px;
}
.full{
    margin-top: 60px;
    height: 3710px;
    font-size: 30px;
}
.full p{
    font-size: 45px;
}
.set-1{
    display: block;
    
}
.set-2{
    display: block;

}
.col-1{
    width: 100%;
    font-size: 50px;
    display: block;
}
.col-2{
    width:  100%;
    font-size: 50px;
    display: block;
}
.col-3{
    width:  100%;
    font-size: 50px;
    display: block;
}
.feb-1{
    width: 100%;
    font-size: 50px;
    display: block;
}
.feb-2{
    width:  100%;
    font-size: 50px;
    display: block;
}
.feb-3{
    width:  100%;
    font-size: 50px;
    display: block;
}
.yet{
    display: block;
    width: 100%;
    height: 1535px;
    margin-top:75px;
    
}
.mob{
    width: 100%;
    height: 231px;
}
.mob-1{
    width: 100%;
    padding: 0px;
    /* font-size: 30px; */
    height: 85%;
}
.mob-1 p{
       font-size: 50px;
}
.mob-h1{
    font-size: 50px;
}
.pan p{
    font-size: 50px;
}
.pan h1{
    font-size: 40px;
}
.wait{
    display:block;
}
.app{
    width: 100%;
}
.ill{
    width: 100%;
    height: 319px;
}
.due{
    width: 100%;
    height: 319px;
}
.app-1{
    width: 100%;
}
.app-2{
    width: 100%;
}
.nav{
    width: 100%;
    height: 319px;
}
.jar-1{
    width: 100%;
}
.type{
    width: 100%;
}
.type-1{
    width: 238px;
    margin: 39px;
    font-size: 27px;
    margin-top: 122px;
    height: 81px;

}
.type-1 h3{
    font-size: 20px;
}
.type p{
    font-size: 24px;
    margin-left: 3px;
}
.book{
    display: block;
    width: 100%;
    height: 2004px;
}
.fav{
    width: 100%;
    padding: 0px;
    height: 586px;
}
/* .child h1{
    width: 50%;
} */
.read{
    font-size: 20px;
    padding: 0px;
}
.child{
    font-size: 20px;
}
.hey{
    height: 45px;
}
.got-1 h3{
    font-size: 25px;
}
.fav-1{
    padding: 0px;
    width: 100%;
}
.fav-2{
    padding: 0px;
    width: 100%;
}
.fav-3{
    padding: 0px;
    width: 100%;
}
.gap-1 p{
    font-size: 45px;
}
.foci{
    font-size: 45px;
}
.msg-2{
    font-size: 30px;
}
.on-2{
    font-size: 30px;
}
.off-2{
    font-size: 30px;
}
.next-2{
    font-size: 30px;
}
.next-4{
    font-size: 30px;
}
.next-6{
    font-size: 30px;
}
.box{
    padding: 0px;
    display: flex;
    width: 35%;
    height: 123px;
    border-radius: 57px;
    font-size: 26px;
}
.box-1{
    padding: 0px;
    display: flex;
    width: 35%;
    height: 123px;
    border-radius: 57px;
    font-size: 26px;}
.box-2{
    padding: 0px;
    display: flex;
    width: 35%;
    height: 123px;
    border-radius: 57px;
    font-size: 26px;}
.kit{
    display: block;
    width: 100%;
    margin-top: 0px;
}
.box p{
    font-size: 53px;
    text-align: right;
    margin-left: 45px;
    height: 119px;
    width: 160px;
}
.box-1 p{
    font-size: 53px;
    text-align: right;
    margin-left: 45px;
    height: 119px;
    width: 160px;
}

.box-2 p{
    font-size: 53px;
    text-align: right;
    margin-left: 45px;
    height: 119px;
    width: 160px;
    height: 119px;
    width: 160px;
}

.pan{
    margin-top: 4px;
}
.grow{
    display: block;
}
.inner{
    width: 100%;
}
.outer{
    width: 100%;
    margin: 0px;
    height: 950px;
}
.inner-1{
    padding: 0px;
}
.mean{
    font-size: 40px;
    height: 2704px;
}
.now{
    font-size: 30px;
}
.now p{
    font-size: 37px;
}
.outer-1{
    width: 100%;
    margin: 0px;
    height: 1030px;
}
.info{
    width: 100%;
    height: 244px;
}
.any{
    padding: 0px;
}
.outer-2{
    width: 100%;
    margin: 0px;
    height: 1030px;
}
.info-1{
    width: 100%;
    height: 244px;
}
.any-1{
    padding: 0px;
}
.img{
    width: 100%;
    height: 1439px;
    padding: 0px;
    margin: 0px;
    display: block;
    margin-top: 500px;
}
.divide{
    display: block;
    margin-left: 0px;
    width: 100%;
}
.divide-1{
    margin-top: 0px;
    width: 75%;
    height: 150px
}
.divide-2{
    margin-top: 0px;
    width: 80%;
    height: 220px
}
.divide-3{
    margin-top: 0px;
    width: 75%;
    height: 230px
}
.divide-4{
    margin-top: 0px;
    width: 70%;
    height: 324px
}
.divide-5{
    margin-top: 0px;
    width: 70%;
    height: 155px
}
.divide-6{
    margin-top: 0px;
    width: 45%;
    height: 247px;
}
.plus{
    height: 1469px;
}
.loyal{
    height: 684px;
}
.small{
    height: 570px;
}
.rooww{
    display: block;
    padding: 0px;
    margin-top:4px ;
}
.colu-1{
    width: 100%;
}
.colu-2{
    width: 100%;
}
.colu-3{
    width: 100%;
}
.colu-4{
    width: 100%;
}
/* .colu-1{
    width: 100%;
} */
.container{
    padding: 0px;
}
.loss {
    font-size: 23px;
    height: 43px;
    padding: 0px;
    margin: 0px;
}

}

